/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
body{line-height:1}
del{text-decoration:line-through}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
input,select{vertical-align:middle}
li{list-style:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
nav ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}


/* =============================================================================
   Mi CSS
   ========================================================================== */

/* ---- base ---- */

html, body {
	background-color: red !important;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
	display:block;
	vertical-align:bottom;
}

.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.parent-container {
	display: table;
	height: 100vh;
	width: 100%;
}

.child-container {
	display: table-cell;
	vertical-align: middle;
}

/* ---- landing ---- */

#text-container {
	padding-top: 70px;
	position: fixed;
	width: 100%;
}

#luchemos-por-container {
	width: 26%;
}

#mundo-container {
	width: 33%;
}

#sin-popote-container {
	width: 18%;
}

#straw-svg {
	-webkit-animation: float 4s ease-in-out infinite;
			animation: float 4s ease-in-out infinite;
	height: 80vh;
	position: absolute;
	right: 450px;
	top: 100px;
}

#logo-crown {
	position: absolute;
	right: 70px;
	top: 70px;
	width: 10%;
}

#action-button {
			transform: translate(-50%, -30%);
		-ms-transform: translate(-50%, -30%);
	-webkit-transform: translate(-50%, -30%);
	background-color: red;
	border: 5px solid white;
	color: white;
	font-weight: bold;
	left: 40%;
	position: absolute;
	text-transform: uppercase;
	top: 57%;
	width: 20%;
}

#footer {
	background-color: rgba(255,255,255,0.9);
	bottom: 0;
	height: 40vh;
	position: fixed;
	width: 100%;
}

#water-container {
			animation: waves 4s ease-in-out infinite;
	-webkit-animation: waves 4s ease-in-out infinite;
	background-color: rgba(139, 196, 178, 1); /* rgba(154, 224, 202, 1) */
	bottom: 0;
	height: 40vh;
	left: -40px;
	position: fixed;
	width: 150%;
	z-index: 1;
}

#water-container::before {
	content: "";
    background-size: cover;
    background: url(../../assets/img/waves.svg) no-repeat 50% 100%;
    display: block;
    height: 27vh;
    left: -400px;
    position: absolute;
    top: -150px;
    width: 100%;
}

#sea-bottom-container {
	bottom: 0;
	opacity: 0.4;
	position: fixed;
	width: 100%;
	z-index: 2;
}

#turtle {
	left: 400px;
	position: absolute;
	top: 120px;
	width: 16%;
	z-index: 5;
}

#starfish {
	bottom: 15px;
	left: -20px;
	position: absolute;
	width: 6%;
	z-index: 3;
}

#dolphin {
	position: absolute;
	right: -250px;
	top: 130px;
	width: 30%;
	z-index: 2;
}

#fish-one {
	left: 150px;
	position: absolute;
	top: 120px;
	width: 4%;
	z-index: 2;
}

#fish-two-a {
	bottom: 120px;
	left: 850px;
	position: absolute;
	width: 8%;
	z-index: 2;
}

#fish-two-b {
	bottom: 110px;
	left: 825px;
	position: absolute;
	width: 4%;
	z-index: 2;
}

#fish-two-c {
	bottom: 90px;
	left: 905px;
	position: absolute;
	width: 3%;
	z-index: 2;
}

#fish-three-a {
	position: absolute;
	right: 510px;
	top: 200px;
	width: 3%;
	z-index: 2;
}

#fish-three-b {
	position: absolute;
	right: 480px;
	top: 230px;
	width: 2%;
	z-index: 2;
}

#seaweed-one-a {
	bottom: -20px;
	left: 250px;
	position: absolute;
	width: 6%;
	z-index: 3;
}

#seaweed-one-b {
	bottom: -10px;
	left: 235px;
	position: absolute;
	width: 3%;
	z-index: 3;
}

#seaweed-one-c {
	bottom: -10px;
	left: 320px;
	position: absolute;
	width: 2%;
	z-index: 3;
}

#seaweed-two-a {
	bottom: -20px;
	left: 730px;
	position: absolute;
	width: 4%;
	z-index: 3;
}

#seaweed-two-b {
	bottom: -10px;
	left: 735px;
	position: absolute;
	width: 2%;
	z-index: 3;
}

#seaweed-three-a {
	bottom: -20px;
	left: 1110px;
	position: absolute;
	width: 7%;
	z-index: 3;
}

#seaweed-three-b {
	bottom: -10px;
	left: 1100px;
	position: absolute;
	width: 4%;
	z-index: 3;
}

#seaweed-three-c {
	bottom: -10px;
	left: 1175px;
	position: absolute;
	width: 3%;
	z-index: 3;
}

/* ---- animations ---- */

@-webkit-keyframes float {
	0% {
		-webkit-transform: translateY(0px);
				transform: translateY(0px);
	}

	50% {
		-webkit-transform: translateY(-40px);
				transform: translateY(-40px);
	}

	100% {
		-webkit-transform: translateY(0px);
				transform: translateY(0px);
	}
}

@keyframes float {
	0% {
		-webkit-transform: translateY(0px);
				transform: translateY(0px);
	}

	50% {
		-webkit-transform: translateY(-40px);
				transform: translateY(-40px);
	}

	100% {
		-webkit-transform: translateY(0px);
				transform: translateY(0px);
	}
}

@-webkit-keyframes waves {
	0% {
		-webkit-transform: translateX(-40px);
				transform: translateX(-40px);
	}

	50% {
		-webkit-transform: translateX(40px);
				transform: translateX(40px);
	}

	100% {
		-webkit-transform: translateX(-40px);
				transform: translateX(-40px);
	}
}

@keyframes waves {
	0% {
		-webkit-transform: translateX(-40px);
				transform: translateX(-40px);
	}

	50% {
		-webkit-transform: translateX(40px);
				transform: translateX(40px);
	}

	100% {
		-webkit-transform: translateX(-40px);
				transform: translateX(-40px);
	}
}

/* =============================================================================
   Media Queries
   ========================================================================== */

/* smartphones mobiles (portrait) */
@media (min-width: 319.9px) and (max-width: 479.9px) {
	#text-container {
		padding-top: 1.5em;
	}

	#luchemos-por-container {
		width: 75%;
	}

	#mundo-container {
		width: 85%;
	}

	#sin-popote-container {
		width: 70%;
	}

	#straw-svg {
		height: 80vh;
		right: 2em;
	}

	#logo-crown {
		visibility: hidden;
	}

	#action-button {
		left: 2.4em;
		top: 57%;
		width: 70%;
	}

	#water-container {
		left: -40px;
		position: fixed;
		width: 150%;
	}

	#water-container::before {
	    left: -5em;
	    top: -6.1em;
	    width: 200%;
	}

	#turtle {
		left: -3em;
		top: 4.3em;
		width: 50%;
	}

	#starfish {
		bottom: -1em;
		left: 5em;
		width: 13%;
	}

	#dolphin {
		right: -6em;
		top: 6em;
		width: 60%;
	}

	#fish-one {
		left: 7em;
		top: 3em;
		width: 12%;
	}

	#fish-two-a {
		bottom: 4em;
		left: 9em;
		width: 15%;
	}

	#fish-two-b {
		bottom: 3.2em;
		left: 8em;
		width: 12%;
	}

	#fish-two-c {
		bottom: 2.7em;
		left: 10.5em;
		width: 10%;
	}

	#fish-three-a {
		right: 5em;
		top: 4em;
		width: 8%;
	}

	#fish-three-b {
		right: 4em;
		top: 5em;
		width: 7%;
	}

	#seaweed-one-a {
		bottom: -0.5em;
		left: 2em;
		width: 10%;
	}

	#seaweed-one-b {
		bottom: -1em;
		left: 1.7em;
		width: 6%;
	}

	#seaweed-one-c {
		bottom: -1.2em;
		left: 2.8em;
		width: 7%;
	}

	#seaweed-two-a {
		bottom: -0.5em;
		left: 9em;
		width: 9%;
	}

	#seaweed-two-b {
		bottom: -0.3em;
		left: 10em;
		width: 6%;
	}

	#seaweed-three-a {
		bottom: -0.9em;
		left: 15.5em;
		width: 9%;
	}

	#seaweed-three-b {
		bottom: -0.2em;
		left: 15.2em;
		width: 4%;
	}

	#seaweed-three-c {
		bottom: -0.2em;
		left: 16.6em;
		width: 4%;
	}
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 480px) and (max-width: 767.9px) {
	#text-container {
		padding-top: 3.5em;
	}

	#luchemos-por-container {
		width: 75%;
	}

	#mundo-container {
		width: 85%;
	}

	#sin-popote-container {
		width: 70%;
	}

	#straw-svg {
		height: 80vh;
		right: 2em;
	}

	#logo-crown {
		visibility: hidden;
	}

	#action-button {
		left: 5em;
		top: 57%;
		width: 70%;
	}

	#water-container {
		left: -40px;
		position: fixed;
		width: 150%;
	}

	#water-container::before {
	    left: -5em;
	    top: -12em;
	    width: 250%;
	}

	#turtle {
		left: -3em;
		top: 9em;
		width: 50%;
	}

	#starfish {
		bottom: -1em;
		left: -1em;
		width: 13%;
	}

	#dolphin {
		right: -12em;
		top: 12em;
		width: 70%;
	}

	#fish-one {
		left: 7em;
		top: 4em;
		width: 10%;
	}

	#fish-two-a {
		bottom: 15em;
		left: 20em;
		width: 15%;
	}

	#fish-two-b {
		bottom: 14em;
		left: 18em;
		width: 12%;
	}

	#fish-two-c {
		bottom: 13em;
		left: 23em;
		width: 10%;
	}

	#fish-three-a {
		right: 5em;
		top: 4em;
		width: 8%;
	}

	#fish-three-b {
		right: 3em;
		top: 6em;
		width: 7%;
	}

	#seaweed-one-a {
		bottom: -0.5em;
		left: 8em;
		width: 10%;
	}

	#seaweed-one-b {
		bottom: -1em;
		left: 7.5em;
		width: 6%;
	}

	#seaweed-one-c {
		bottom: -1.2em;
		left: 9.5em;
		width: 7%;
	}

	#seaweed-two-a {
		bottom: -0.5em;
		left: 17em;
		width: 11%;
	}

	#seaweed-two-b {
		bottom: -0.3em;
		left: 18em;
		width: 8%;
	}

	#seaweed-three-a {
		bottom: -0.9em;
		left: 28em;
		width: 9%;
	}

	#seaweed-three-b {
		bottom: -0.2em;
		left: 30em;
		width: 4%;
	}

	#seaweed-three-c {
		bottom: -0.2em;
		left: 16.6em;
		width: 4%;
	}
}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1023.9px) {
	#text-container {
		padding-top: 3.5em;
	}

	#luchemos-por-container {
		width: 85%;
	}

	#mundo-container {
		width: 85%;
	}

	#sin-popote-container {
		width: 70%;
	}

	#straw-svg {
		height: 80vh;
		right: 2em;
	}

	#logo-crown {
		visibility: hidden;
	}

	#action-button {
		left: 5em;
		top: 57%;
		width: 70%;
	}

	#water-container {
		left: -100px;
		position: fixed;
		width: 150%;
	}

	#water-container::before {
	    left: -5em;
	    top: -12em;
	    width: 250%;
	}

	#turtle {
		left: -7em;
		top: 9em;
		width: 50%;
	}

	#starfish {
		bottom: -1em;
		left: -1em;
		width: 13%;
	}

	#dolphin {
		right: -12em;
		top: 12em;
		width: 70%;
	}

	#fish-one {
		left: 18em;
		top: 4em;
		width: 8%;
	}

	#fish-two-a {
		bottom: 15em;
		left: 20em;
		width: 15%;
	}

	#fish-two-b {
		bottom: 14em;
		left: 18em;
		width: 12%;
	}

	#fish-two-c {
		bottom: 13em;
		left: 23em;
		width: 10%;
	}

	#fish-three-a {
		right: 10em;
		top: 6em;
		width: 8%;
	}

	#fish-three-b {
		right: 7em;
		top: 8em;
		width: 7%;
	}

	#seaweed-one-a {
		bottom: -0.5em;
		left: 14em;
		width: 10%;
	}

	#seaweed-one-b {
		bottom: -1em;
		left: 13em;
		width: 6%;
	}

	#seaweed-one-c {
		bottom: -1.2em;
		left: 16em;
		width: 7%;
	}

	#seaweed-two-a {
		bottom: -0.5em;
		left: 26em;
		width: 11%;
	}

	#seaweed-two-b {
		bottom: -0.3em;
		left: 28em;
		width: 8%;
	}

	#seaweed-three-a {
		bottom: -0.9em;
		left: 40.5em;
		width: 9%;
	}

	#seaweed-three-b {
		bottom: -0.2em;
		left: 40em;
		width: 4%;
	}

	#seaweed-three-c {
		bottom: -0.2em;
		left: 43em;
		width: 4%;
	}
}

/*desktops - higher resolution*/
@media (min-width: 2560px) {
	#text-container {
		padding-top: 3.5em;
	}

	#luchemos-por-container {
		width: 30%;
	}

	#mundo-container {
		width: 32%;
	}

	#sin-popote-container {
		width: 28%;
	}

	#straw-svg {
		height: 80vh;
		right: 35em;
	}

	#logo-crown {
		width: 10%;
	}

	#action-button {
		left: 32.5em;
		top: 57%;
		width: 20%;
		font-size: 2em;
	}

	#water-container {
		left: -100px;
		position: fixed;
		width: 150%;
	}

	#water-container::before {
	    left: -20em;
	    top: -14em;
	    width: 4000px;
	}

	#turtle {
		left: 12em;
		top: 12em;
		width: 20%;
	}

	#starfish {
		bottom: -1em;
		left: -1em;
		width: 7%;
	}

	#dolphin {
		right: 3em;
		top: 12em;
		width: 30%;
	}

	#fish-one {
		left: 55em;
		top: 10em;
		width: 4%;
	}

	#fish-two-a {
		bottom: 15em;
		left: 80em;
		width: 10%;
	}

	#fish-two-b {
		bottom: 12em;
		left: 70em;
		width: 8%;
	}

	#fish-two-c {
		bottom: 10em;
		left: 84em;
		width: 6%;
	}

	#fish-three-a {
		right: 10em;
		top: 8em;
		width: 3%;
	}

	#fish-three-b {
		right: 6em;
		top: 11em;
		width: 4%;
	}

	#seaweed-one-a {
		bottom: -1.5em;
		left: 35em;
		width: 5%;
	}

	#seaweed-one-b {
		bottom: -1em;
		left: 33em;
		width: 3%;
	}

	#seaweed-one-c {
		bottom: -1.2em;
		left: 40em;
		width: 2%;
	}

	#seaweed-two-a {
		bottom: -1.5em;
		left: 56em;
		width: 6%;
	}

	#seaweed-two-b {
		bottom: -0.3em;
		left: 54.5em;
		width: 3%;
	}

	#seaweed-three-a {
		bottom: -0.9em;
		left: 95em;
		width: 5%;
	}

	#seaweed-three-b {
		bottom: -0.2em;
		left: 94em;
		width: 2%;
	}

	#seaweed-three-c {
		bottom: -0.2em;
		left: 100em;
		width: 2%;
	}
}
