/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
body{line-height:1}
del{text-decoration:line-through}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
input,select{vertical-align:middle}
li{list-style:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
nav ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}


/* =============================================================================
   Mi CSS
   ========================================================================== */

/* ---- base ---- */

html, body { 
	background-color: red !important;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
	display:block;
	vertical-align:bottom;
}

.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.parent-container {
	display: table;
	height: 100vh;
	width: 100%;
}

.child-container {
	display: table-cell;
	vertical-align: middle;
}

/* ---- landing ---- */

#text-container {
	padding-top: 70px;
	position: fixed;
	width: 100%;
}

#luchemos-por-container {
	width: 26%;
}

#mundo-container {
	width: 33%;
}

#sin-popote-container {
	width: 18%;
}

#straw-svg {
	-webkit-animation: float 4s ease-in-out infinite;
			animation: float 4s ease-in-out infinite;
	height: 80vh;
	position: absolute;
	right: 450px;
	top: 100px;
}

#logo-crown {
	position: absolute;
	right: 70px;
	top: 70px;
	width: 10%;
}

#action-button {
			transform: translate(-50%, -30%);
	    -ms-transform: translate(-50%, -30%);
	-webkit-transform: translate(-50%, -30%);
	background-color: red;
	border: 5px solid white;
	color: white;
	font-weight: bold;
	left: 40%;
	position: absolute;
	text-transform: uppercase;
	top: 57%;
	width: 20%;
}

#footer {
	background-color: rgba(255,255,255,0.9);
	bottom: 0;
	height: 40vh;
	position: fixed;
	width: 100%;
}

#water-container {
			animation: waves 4s ease-in-out infinite;
	-webkit-animation: waves 4s ease-in-out infinite;
	background-color: rgba(154, 224, 202, 1);
	bottom: 0;
	height: 40vh;
	left: -40px;
	position: fixed;
	width: 150%;
	z-index: 1;
}

#water-container::before {
	content: "";
    background-size: cover;
    background: url(../../assets/img/waves.svg) no-repeat 50% 100%;
    display: block;
    height: 27vh;
    left: -400px;
    position: absolute;
    top: -150px;
    width: 100%;
}

#sea-bottom-container {
	position: fixed;
	bottom: 0;
	opacity: 0.4;
	width: 100%;
	z-index: 2;
}

#turtle {
	position: absolute;
	width: 16%;
	left: 400px;
	top: 120px;
	z-index: 5;
}

#starfish {
	position: absolute;
	width: 6%;
	left: -20px;
	bottom: 15px;
	z-index: 3;
}

#fish-one {
	position: absolute;
	width: 4%;
	left: 100px;
	top: 100px;
	z-index: 2;
}

#fish-two {
	position: absolute;
	width: 4%;
	left: 150px;
	bottom: 120px;
	z-index: 2;
}

#dolphin {
	position: absolute;
	width: 30%;
	right: -250px;
	top: 130px;
	z-index: 2;
}

#fish-three {
	position: absolute;
	width: 3%;
	right: 350px;
	top: 100px;
	z-index: 2;
}

#fish-four {
	position: absolute;
	width: 6%;
	right: 600px;
	top: 150px;
	z-index: 2;
}

#fish-center {
	position: absolute;
	width: 4%;
	left: 900px;
	top: 250px;
	z-index: 2;
}

#seaweed-one {
	position: absolute;
	width: 3%;
	left: 770px;
	bottom: -10px;
	z-index: 2;
}

#seaweed-two {
	position: absolute;
	width: 3%;
	left: 1400px;
	bottom: -10px;
	z-index: 2;
}

#seaweed-three {
	position: absolute;
	width: 3%;
	left: 300px;
	bottom: -2px;
	z-index: 2;
}

#seaweed-four {
	position: absolute;
	width: 3%;
	left: 1100px;
	bottom: -2px;
	z-index: 2;
}

/* ---- animations ---- */

@keyframes float {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-40px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes waves {
	0% {
		transform: translateX(-40px);
	}

	50% {
		transform: translateX(40px);
	}

	100% {
		transform: translateX(-40px);
	}
}

@keyframes seaweed {
	0% {
		transform: rotate(-7deg);
	}

	50% {
		transform: rotate(7deg);
	}

	100% {
		transform: rotate(-7deg);
	}
}

@keyframes seaweed-reverse {
	0% {
		transform: rotate(7deg);
	}

	50% {
		transform: rotate(-7deg);
	}

	100% {
		transform: rotate(7deg);
	}
}